/* You can add global styles to this file, and also import other style files */
body{
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background-image: -webkit-linear-gradient(top, white, black);
    background-image: -moz-linear-gradient(top, white, black);
    background-image: linear-gradient(to bottom, white, black);
    background-repeat: no-repeat;
}
.container{
    min-height: 800px;
}
#BUSCADOR{
    border: 1px solid grey;
    padding: 10px;    
}
select{
    width: 100%;
    background-color: grey;
    font-weight: bold;
    color: black;
    border: none;
}
#btn-busqueda{ 
    width: 100%;
    height: 50px; 
    font-size:2em
}
#Musica, #Pelicula, #VideoClip, {
    border-right: 1px solid grey;
    background-color: rgba(255, 255, 255, .8);
}
Tv Serie { background-color: rgba(255, 255, 255, .8);}