<div class="row" id="TITULO">
  <div class="col s12">
    <h1 style="width: 80%">
      <i>Itunes Api Search</i>
      <!--<a [routerLink]="[ '/favoritos_book']"><i class="material-icons medium">book</i></a>
      <a [routerLink]="[ '/favoritos_videos']"><i class="material-icons medium">videocam</i>
      <a [routerLink]="[ '/favoritos_musica']"><i class="material-icons medium">library_musice</i>-->
    </h1>
  </div>
</div>
<div class="row" id="BUSCADOR">
  <div class="col s8">
    <div class="input-field" style="width:100%">
      <input id="search" type="search" #dato required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </div>
  <div class="col s2">
    <select #media class="browser-default">
        <option value="all">TODO</option>
        <option *ngFor="let med of medio" value="med.value">{{med.nombre}}</option>
      </select>
  </div>
  <div class="col s2">
    <button id="btn-filtro" (click)="openFiltro()">Filtrar</button>
  </div>
</div>
<div class="row" id="FILTRO">
  <form  #filtro="ngForm">
    <h3><i class="material-icons small">search</i>Buscador avanzado</h3>
    <div class="col s3" *ngFor="let med of medio">
      <div *ngIf="med.nombre !== 'Libros'">
        <h5 id="{{med.nombre}}">{{med.nombre}}</h5>
        <div *ngFor="let ent of entity">
          <p *ngIf="med.nombre === ent.clase">
            <input type="radio" name="filtro" value="med.values" [(ngModel)]="myfiltro" id="ent.clase">
            <label for="ent.clase">{{ent.nombre}}</label>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
  <div class="row">
    <div class="col s12">
      <button id="btn-busqueda" (click)="getDatos(dato.value, media.value, myfiltro)">Search</button>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m3" *ngFor="let m of datos">
      <div class="card hoverable">
        <div class="card-image">
          <img src="{{m.artworkUrl100}}">
        </div>
        <div class="card-content">
          <div *ngIf="m.kind === 'feature-movie'">
            <a (click)="onModal(m.previewUrl)">Previsualizar Pelicula</a>
          </div>
          <div *ngIf="m.kind === 'song'">
            <audio controls style="width:100%">
              <source src={{m.previewUrl}} type="audio/ogg">
              <source src={{m.previewUrl}} type="audio/mpeg"> Your browser does not support the audio element.
            </audio>
          </div>
        </div>
        <h5 class="truncate">{{m.trackName}}</h5>
        <h6 class="truncate">{{m.collectionName}}</h6>
      </div>
    </div>
  </div>
  <!-- Modal Structure -->
  <div id="modal-video" class="modal">
    <div class="modal-content">
      <video width="320" height="240" controls>
        <source src="{{UrlVideo}}" type="video/mp4">
        <source src="{{UrlVideo}}" type="video/ogg"> Your browser does not support the video tag.
      </video>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
  </div>













  <!--<input #dato type="text">
<button (click)="getDatos(dato.value)">Search</button>
<h3>Artista: {{ dato.value }}</h3>
<ul>
  <li *ngFor="let m of datos">{{ m.collectionName }}{{artworkUrl100}}</li>

</ul>-->
